In [1]:
# Analysis of factors affecting success in securing a date during speed dating: 
#  - expectation of happiness with other participants (bar vs avg date achieved)
#  - expectation of others being interested in subject (line plot vs avg date achieved)
#  - frequency of dates on a normal basis (reverse numbering, bar of avg of date achieved)
#  - primary goal in participation (bar of avg of date achieved by category)
# date_3: if date achieved
# expnum: how many people subject expects to be interested in self - % of potentials
# exphappy: expected happiness (1-10) with people subject will meet
# date: how frequently (1-7) subject goes on dates - invert original scale
# goal: why subject is participating
# converted csv without UTF-8 encoding to xlsx to pre-edit, also to create a macro to assist me

# separate by wave with a macro, read, get metrics by person, rejoin, analyze/visualize

In [2]:
# necessary imports
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [16]:
wave1_df = pd.DataFrame(pd.read_excel("Resources/SpeedDatingData.xlsm", "Wave 1"))
wave1_df.drop_duplicates(inplace=True)
wave1_df["expnumPercent"] = (wave1_df["expnum"]/wave1_df["iid"].count())*100
wave1_df = wave1_df[wave1_df.date_3 != 999]
wave1_df.head(10)

    iid  date_3  expnum  exphappy  datefreq  goal  expnumPercent
0     1       0       2         3         7     2           20.0
10    2       0       5         4         5     1           50.0
30    4       0       2         1         5     1           20.0
40    5       0      10         7         4     2          100.0

In [24]:
wave2_df = pd.DataFrame(pd.read_excel("Resources/SpeedDatingData.xlsm", "Wave 2"))
wave2_df.drop_duplicates(inplace=True)
wave2_df["expnumPercent"] = (wave2_df["expnum"]/wave2_df["iid"].count())*100
wave2_df = wave2_df[wave2_df.date_3 != 999]
wave2_df.head()

    iid  date_3  expnum  exphappy  datefreq  goal  expnumPercent
0    11       0       3         7         5     1           30.0
30   14       0      15         8         4     2          150.0
40   15       0       9         5         4     1           90.0
50   16       0      10         7         5     1          100.0
60   17       0       2         4         3     3           20.0

In [19]:
wave3_df = pd.DataFrame(pd.read_excel("Resources/SpeedDatingData.xlsm", "Wave 3"))
wave3_df.drop_duplicates(inplace=True)
wave3_df["expnumPercent"] = (wave3_df["expnum"]/wave3_df["iid"].count())*100
wave3_df = wave3_df[wave3_df.date_3 != 999]
wave3_df.head(10)

     iid  date_3  expnum  exphappy  datefreq  goal  expnumPercent
0     21       0       0         5         7     6       0.000000
16    22       0       2         4         6     1      10.526316
32    23       0       3         5         1     1      15.789474
64    25       0       4         5         5     1      21.052632
128   29       0       4         7         6     1      21.052632
160   31       0       4         5         4     1      21.052632
176   32       0       0         3         4     1       0.000000
192   33       0       0         4         6     6       0.000000
256   37       0       3         7         6     2      15.789474
288   39       0       5         2         6     5      26.315789

In [ ]:
wave1_df = pd.DataFrame(pd.read_excel("Resources/SpeedDatingData.xlsm", "Wave 1"))
wave1_df.drop_duplicates(inplace=True)
wave1_df["expnumPercent"] = (wave1_df["expnum"]/wave1_df["iid"].count())*100
wave1_df = wave1_df[wave1_df.date_3 != 999]
wave1_df.head(10)

In [ ]:
waves_df = pd.concat([wave1_df, wave2_df])
waves_df.head(10)