In [1]:
# Analysis of factors affecting success in securing a date during speed dating: 
#  - expectation of happiness with other participants (scatterplot vs number of dates achieved)
#  - expectation of others being interested in subject (scatterplot vs number of dates achieved)
#  - frequency of dates on a normal basis (reverse numbering, scatterplot vs number of dates achieved)
#  - primary goal in participation (histogram of avg number dates achieved by category)
# num_in_3: how many dates achieved
# expnum: how many people subject expects to be interested in self - % of potentials
# exphappy: expected happiness (1-10) with people subject will meet
# date: how frequently (1-7) subject goes on dates - invert original scale
# goal: why subject is participating
# converted csv without UTF-8 encoding to xlsx, also to create macros
# separate by wave with a macro, read, get metrics by person, rejoin, analyze/visualize

In [2]:
# necessary imports
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [3]:
 
dating_df = pd.DataFrame(pd.read_excel("Resources/annavmontoya-speed-dating-experiment/SpeedDatingData.xlsx"))
dating_df.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [7]:
numDates_df = dating_df[['num_in_3']].copy()
numDates_df = numDates_df.rename(columns={'num_in_3':'Number of Dates'})
numDates_df.dropna(inplace=True)
numDates_df.head()

     Number of Dates
216              0.0
217              0.0
218              0.0
219              0.0
220              0.0

In [8]:
factors_df = dating_df[['expnum', 'exphappy', 'date', 'goal']].copy()
target_factors_df = factors_df.rename(columns={'expnum':'Expected Interest From Others',
                                 'exphappy':'Expected Happiness With Others', 'date':'How Frequently Subject Dates',
                                 'goal':'Why Subject Participated'})
target_factors_df.dropna(inplace=True)
target_factors_df.head()

,Expected Interest From Others,Expected Happiness With Others,How Frequently Subject Dates,Why Subject Participated
0,2.0,3.0,7.0,2.0
1,2.0,3.0,7.0,2.0
2,2.0,3.0,7.0,2.0
3,2.0,3.0,7.0,2.0
4,2.0,3.0,7.0,2.0

In [9]:
print(len(numDates_df['Number of Dates']))
print(len(target_factors_df['Expected Interest From Others']))

668
1800